{% extends "_layouts/default.njk" %}

{% block body %}
  <div class='content'>
    <strong> Agendar horario </strong>

    <div class='provider'>
      <div onClick='back()'>
        <img src='/files/{{ provider.avatar }}' alt='{{ provider.name }}'/>
        <strong>{{ provider.name }}</strong>
      </div>
    </div>

    <form action='/app/appointments/new/{{ provider.id }}' method='post'>
      <input type='text' class='flatpickr' placeholder='Escoja una Fecha'>

      <div id='hours'>
      </div>
      <button type='submit'>Agendar</button>
    </form>

  </div>

  <script type='text/javascript'>

  function back() {
    window.location.href = '/app/dashboard'
  }

    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/y',
      onChange: function (date) {
        fetch(`/app/available/{{ provider.id }}?date=${date[0].getTime()}`)
        .then(function (response) {
          response.text().then( function (html) {
            document.getElementById('hours').innerHTML = html
          })
        })
      }
    })
  </script>
{% endblock %}
